.App {
    text-align: center;
}

.loader {
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-left: 100px;
  margin-right: 100px;

}


.App-link {
    color: #61dafb;
}

.search{
  padding-right: 20px;
}


.headTitle{
  margin-left: 30px;
  margin-right: 50px;
}


.title{
  text-decoration: none;
}

.content{
  background-color: aliceblue;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 50px;
}
.contentRow{
  text-align: left;
}

.subtext{
  text-align: left;
}

.btnMore{
  display: flex;
  justify-content: left;
  margin-top: 30px;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.noResultsMessage{
  font-size: larger;
  padding-top: 30px;
  padding-bottom: 500px;
  background-color: aliceblue;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 0;
  margin-bottom: 0;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#error {
  font-size: 3rem;
  color: darkred;
  font-weight: bold;
  padding: 3rem;
}
#error img {
  max-width: 100%;
  height: auto;
}

#searchField {
  padding: 2px;
}

#clearSearch {
  margin-left: -22px;
  padding: 3px;
  z-index: 99;
  max-width: 100%;
  height: auto;
}

#clearSearch:hover {
  cursor: pointer;
}

#sortBar {
  min-height: 2rem;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
  margin-left: 100px;
  margin-right: 100px;
  line-height: 2rem;
}

#sort-select {
  padding: 2px;
}